<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google OAuth</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container">
        <h1>Homepage</h1>
        <nav class="navi">
            <ul>
                <li><a href="/">Homepage</a></li>
                <li><a href="/auth/login">Login</a></li>
                <li><a href="/profile">Profile</a></li>
            </ul>
        </nav>
        <p style="margin-left: 3rem;">You're currently in Homepage or landing page, you cannot access your Profile page unless you're signed in. If you try to access Profile It will redirect you to login page.</p>
    </div>
</body>

</html>