<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
        <nav class="navi">
            <h1>Login Page</h1>
            <ul>
                <li><a href="/">Homepage</a></li>
                <li><a href="/auth/login">Login</a></li>
                <li><a href="/profile">Profile</a></li>
            </ul>
        </nav>
        <form action="">
            <div class="form-group">
                <input type="text" name="username" class="form-control shadow-none" placeholder="Username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password">
                <small>Please click on sign up using Google.</small>
                <br><br>
                <button class="btn btn-primary">Sign in</button> or
                <a href="/auth/google" class="btn btn-primary">Sign up using google</a>
            </div>
        </form>
        <p style="margin-left: 3rem;">By clicking on sign up, You will redirected to Google Consent screen, If you allow access your account will be created and stored in mongodb database.</p>
    </div>
</body>

</html>